.App-section{
    display: flex;
    justify-content: center;
    margin: 10px 10px;
}
.App-section-form{
    flex-wrap: wrap;
    align-items: center;
    background: #f0efef;
    box-shadow: 7px 7px 15px rgba(219, 179, 179, 0.08);
    border-radius: 20px;
    padding: 36px 64px;
}

.App-section-form h2{
    text-align: center;
}

.Busca-cep{
    display: flex;
    align-items: center;
    justify-content: center;
}
